<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <section class="background">
      <div class="nav-container">
        <ul class="nav-list">
          <li class="dropdown">
            <a class="dropbar" href="#">|||||</a>
            <ul class="dropdown-content">
              <li><a href="/">Home</a></li>
              <li><a href="about">About <%=webApp%></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="label-container">
        <h2 class="label">Welcome to <%=webApp%></h2>
      </div>
    <h1 class="aboutHeader">About <%=webApp%></h1>
    <p class="aboutP">VitAI derives from vitae which is a latin word meaning course of life. VitAI is here to help with any curriculum to make you stand out.</p>
  </body>
</section>
</html>