<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <section class="background">
      <div class="nav-container">
        <ul class="nav-list">
          <li class="dropdown">
            <a class="dropbar" href="#">|||||</a>
            <ul class="dropdown-content">
              <li><a href="/">Home</a></li>
              <li><a href="about">About <%=webApp%></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="label-container">
        <h2 class="label">Welcome to <%=webApp%></h2>
      </div>
      <div class="content-container">
      <div class="chat-container">
        <div class="search-container">
          <input type="text" name="userQuery" placeholder="Ask me anything..." class="search-bar">
          <button type="submit" class="search-button">Ask</button>
      </div>
        <div class="chat-history">
            <% if (typeof response !== 'undefined') { %>
                <p>User: <%= userQuery %></p>
                <p>vidAI: <%= response %></p>
            <% } %>
        </div>
      </div>
    </div>
    </ul>
  </section>
  </body>
</html>
